<div class="bookmarks">
  <div ng-repeat="bookmark in bookmarksListCtrl.bookmarks | filter:{category:bookmarksListCtrl.getCurrentCategoryName()}">
    <button type="button" class="close" ng-click="bookmarksListCtrl.deleteBookmark(bookmark)">&times;</button>
    <button type="button" class="btn btn-link" ui-sref="eggly.categories.bookmarks.edit({ category: bookmark.category, bookmarkId:bookmark.id})">
      <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <a href="{{bookmark.url}}" target="_blank">{{bookmark.title}}</a>
  </div>
  <hr ng-if="bookmarksListCtrl.getCurrentCategory()"/>
  <ui-view>
    <div>
      <button type="button" class="btn btn-link" ng-if="bookmarksListCtrl.getCurrentCategory()" ui-sref="eggly.categories.bookmarks.create">
        <span class="glyphicon glyphicon-plus"></span>
        Create Bookmark
      </button>
    </div>
  </ui-view>
</div>
