html, body
  background-color #D5DBD8
  width 100%
  height 100%
  color #4F534E
  opacity 1

a
  color #373A36
  font-size 24px
  text-decoration none

  &:hover
    color #5bc0de


.btn, .btn:focus
  outline none !important

.btn-link
  color #373A36
  font-size 24px
  text-decoration none !important

  &:hover
    color #5bc0de

.app
  animation-duration 300ms
  animation-name fadeIn

@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1
