.categoryItem
  a {
    color: #5bc0de;
    font-size: 30px;
    text-decoration: none;
    padding:10px 15px
    display: block

    transition: all .3s ease-in-out;
  }

  a:hover, a:focus {
    text-decoration: none;
    background-color: #D5DBD8;
    color: #2B2828;
  }

  &.active {
    background-color: #D5DBD8;
  }

  &.active > a {
    text-decoration: none;
    color: #2B2828;
  }
