.category-item
  color #5bc0de
  font-size 30px
  text-decoration none
  padding 10px 15px
  display block
  cursor pointer
  transition all .3s ease-in-out

  &:hover, &:focus
    text-decoration none
    background-color #D5DBD8
    color #2B2828